.wrapper {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;
    background-color: ivory;
    text-transform: capitalize;
    border: 1px solid black;
}

.mini_score {
    position: absolute;
    bottom: 3px;
    right: 6px;
}

.tileletter {
    border: 3px solid grey;
    border-radius: 5px;
    width: 43px;
    height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
    background-color: ivory;
    text-transform: capitalize;
}